<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{siteConfig.name}} - {{page.title}}</title>
<meta name="description" content="{{page.description}}" />
<meta name="author" content="Richard Willis" />
<meta name="viewport" content="width=device-width" />
<script>
  this.__start=(new Date).getTime();
  document.documentElement.className='js';
</script>
{{{styles}}}